.about {
  section {
    margin-bottom: 4rem;
    p {
      line-height: 2.5rem;
      margin-bottom: 2rem;
    }
    h3 {
      margin: 2rem 0;
    }
    img {
      width: auto;
      margin: 0 auto;
      display: flex;
      max-width: 100%;
    }
  }
  .about-head {
    text-align: left;
    margin-bottom: 8rem;
    h1 {
      margin: 0 0 2rem 0;
    }
    .about-photo {
      border-radius: .25rem;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .btn-download {
      padding: 1rem 2rem;
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: .25rem;
    }
  }
}

.content-title {
  font-weight: bold;
  color: $headings-color;
}
.content-date {
  margin-bottom: 1rem;
}
.content-subtitle {
  margin-bottom: 1rem;
}

@include media-breakpoint-up(md) {
  .about-head {
    padding-top: 4rem;
    .about-photo {
      height: 380px;
    }
  }
}
@include media-breakpoint-down(md) {
  .about-head {
    padding-top: 2rem;
    h1{
      font-size: 2rem;
    }
    .about-photo {
      height: auto;
      max-height: 380px;
      margin-bottom: 3rem;
    }
  }
}
