::selection {
    color: #fff;
    color: rgba(255, 255, 255, 0.9);
    background: $primary;
}

main {
  padding-top: 100px;
}

.container_welcome {
  padding: 2rem 0 4rem;
  height: calc(100vh - 60vh);
  align-items: center;
  display: flex;
  min-height: min-content;

  .welcome_content {
    h2 {
      font-weight: 400;
      color: $font-color-secondary;
    }
  }
}

.list {
  li {
    margin-bottom: 1rem;
  }
}

.list-icon {
  li {
    b {
      display: inline-block;
    }
    a {
      display: inline-block;
      margin-left: 1.85rem;
    }
    &:before {
      display: inline-block;
      width: 30px;
      text-align: left;
      font-family: FontAwesome;
    }
    &.icon-skype {
      &:before {
        content: '\f17e';
      }
    }
    &.icon-whatsapp {
      &:before {
        content: '\f232';
      }
    }
    &.icon-dribbble {
      &:before {
        content: '\f17d';
      }
    }
    &.icon-behance {
      &:before {
        content: '\f1b4';
      }
    }
    &.icon-linkedin{
      &:before {
        content: '\f08c';
      }
    }
    &.icon-github {
      &:before {
        content: '\f113';
      }
    }
    &.icon-telegram {
      &:before {
        content: '\f2c6';
      }
    }
  }
}

.footer {
  padding-top: 4rem;
  margin-bottom: 2rem;
  font-size: .875rem;
  color: $font-color-light;
}

@include media-breakpoint-down(md) {
  .container_welcome {
    .welcome_content {
      h1{
        font-size: 2rem;
      }
      h2 {
        font-size: 1.5rem;
      }
    }
  }
}
