.portfolio-item {
  padding-bottom: 6rem;
  img {
    width: 100%;
    border-radius: .25rem;
    cursor: pointer;
    transition: all 0.2s ease-out;

    &:hover{
      box-shadow: 0px 22px 43px rgba(68, 68, 68, 0.2);
      transform: translateY(-15px);
    }
  }
  h4 {
    margin-top: 2rem;
  }
  p{
    margin-top: 1rem;
  }
  .tags {
    list-style-type: none;
    padding: 0;
    margin: 1rem 0;
    li {
      display: inline-block;
      background: lighten( #bbbbbb, 20% );
      border-radius: .25rem;
      font-size: .75rem;
      padding: 5px 15px;
      margin-right: .75rem;
      margin-bottom: 5px;
    }
  }
}

.portfolio {
   font-size: 1.25rem;

  section {
    margin-bottom: 8rem;
    p {
      line-height: 2.5rem;
      margin-bottom: 2rem;
      font-weight: 300;
    }
    h3 {
      margin: 2rem 0;
    }
    img {
      width: auto;
      margin: 0 auto;
      display: flex;
      max-width: 100%;
    }
  }
  .portfolio-head {
    text-align: center;
    .portfolio-icon {
      height: 100px;
      width: auto;
      border-radius: .25rem;
    }
    h1 {
      margin: 2rem 0;
    }
  }
  .portfolio-referrence {
    border-top: 1px solid lighten( #bbbbbb, 20% );
    border-bottom: 1px solid lighten( #bbbbbb, 20% );
    padding: 3rem 0;
    font-size: 1rem;
    margin-bottom: 0;

    .label{
      font-size: .875rem;
      color: $font-color-light;
      margin: .5rem 0;
      display: inline-block;
    }
    .tools {
      list-style-type: none;
      padding: 0;
      font-size: 1.75rem;
      color: $font-color-light;
      li {
        display: inline-block;
        margin-right: .75rem;
        margin-bottom: 5px;
      }
    }
    .tags {
      list-style-type: none;
      padding: 0;
      li {
        display: inline-block;
        background: lighten( #bbbbbb, 20% );
        border-radius: .25rem;
        font-size: .75rem;
        padding: 5px 15px;
        margin-right: .75rem;
        margin-bottom: 5px;
      }
    }
  }
  .portfolio-bottom {
    padding: 4rem 0;
    text-align: center;
    margin-bottom: 0;
    a {
      color: $heading-color;
    }
  }
}

@include media-breakpoint-up(md) {
  .portfolio-head {
    padding-top: 4rem;
  }
}
@include media-breakpoint-down(md) {
  .portfolio-head {
    padding-top: 2rem;
    h1{
      font-size: 2rem;
    }
  }
}
